@mixin h4() {
    color: #4C545C;
    font-size: 46px;
    font-weight: 600;
    letter-spacing: -0.75px;
}

@mixin p() {
    color: #9EABB2;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.15px;
    padding-left: 100px;
    padding-right: 100px;
}

@mixin button-green() {
    padding: 13px 36px;
    border-radius: 28px;
    background: #26BBA4;
    box-shadow: 0px 10px 20px 0px rgba(137, 229, 199, 0.50), 0px -3px 0px 0px rgba(0, 0, 0, 0.15) inset;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

@mixin button-bleu() {
    padding: 13px 32px;
    border-radius: 28px;
    background: #6174FF;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.10), 0px -3px 0px 0px rgba(0, 0, 0, 0.15) inset;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;

}


.hero {
    text-align: center;
    padding-top: 128px;

    .brand-image {
        padding-bottom: 56px;
    }

    .topic {
        h4 {
            @include h4();
            padding-bottom: 20px
        }

        p {
            @include p();
        }
        


    }
    .topic-top{
        padding-bottom: 50px;
    }

    .topic-bottom{
        padding-top: 150px;
    }

   .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:16px;
    .btn-green{
        @include button-green();
        border:none;
        cursor: pointer;
    }

    .btn-blue{
        @include button-bleu();
        border:none;
        cursor: pointer;
    }
   }
}

