@import './main.css';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bai Jamjuree',sans-serif;
}

.container{
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 20px;
}

header{
    background:url(../public/images/header.png);
    background-repeat: no-repeat;
    background-size: 100vw 363px;
}